@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

h1 {
  color: $boxing-red;
}

.page__container {
  background-color: $boxing-black;
  background-image: url(../assets/images/ali.webp);
  background-size: cover;
  height: 65vh;
  background-position: 29% 70%;

  @include tablet {
    height: 80vh;
    background-position: 110px 0px;
  }

  @include desktop {
    height: 80vh;
    background-position: 280px 0px;
  }
}
